body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

:local(.sidenav) {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

:local(.sidenav ul) {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

:local(.sidenav a:hover) {
    color: #f1f1f1;
    text-decoration:none;
}

:local(.sidenav .closebtn) {
    position: absolute;
    top: 15px;
    right: 8px;
    font-size: 20px;
    margin-left: 50px;
    color: whitesmoke;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

li{
    list-style: none;
    padding-left: 15px;
}

li a {
    text-decoration: none;
    cursor: pointer;
}